langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
fitz
wikipedia
langchain-text-splitters
streamlit
langchain_chroma
langchain_groq
langchain_huggingface
langchain_ollama
faiss-cpu
huggingface_hub 
sentence-transformers 
chromadb 
ollama
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
pytube
unstructured==0.18.13
numexpr
moviepy
canvas
cassio
datasets
openai
tiktoken
gradio